@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    

    @if (User.Identity.IsAuthenticated)
    {
        <p>Hello, @ViewBag.Username!</p> 
    }
    else
    {
        <h2>Welcome to the BeFit App!</h2>
        <p>Please log in to continue...</p>
    }
</div>

